<div class="flex py-6 px-3 items-center justify-between">
  <h1 class="text-4xl font-semibold
 hover:underline"><%= link_to "news-aggregator", root_path %></h1>
  <div class="flex gap-3">
    <%= link_to "english", "/articles/en", class: "font-medium hover:underline hover:text-blue-500"  %>
    <%= link_to "bm", "/articles/ms", class: "font-medium hover:underline hover:text-blue-500"%>
    <% if current_admin %>
      <%= link_to "add publisher", new_publisher_path, class: "font-medium hover:underline hover:text-blue-500"  %>
      <%= link_to "log out", destroy_admin_session_path, data: { turbo_method: :delete }, class: "font-medium hover:underline hover:text-blue-500" %>
    <% end %>
    <% unless current_admin %>
      <%= link_to "admin", new_admin_session_path, class: "font-medium hover:underline hover:text-blue-500" %>
    <% end %>
  </div>
</div>