<div class="h-screen w-[1024px] mx-auto flex flex-col gap-2 mx-10 justify-between">
  <%= render "partials/navbar" %>
  <h1 class="text-2xl px-3 font-semibold"><%= @category.name %></h1>
  <div class="grid grid-cols-4 gap-4 flex-1">
    <%= render "partials/article_list", articles: @articles %>
    <%= render "partials/sidebar", publishers: @publishers, categories: @categories %>
  </div>
  <div class="flex flex-col items-center gap-4 w-full px-3 py-6">
    <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
  </div>
</div>
